.main{
  width: 1440px;
  height: auto;
  margin: auto
}

.final-child,
.final-item {
  position: absolute;
  top: 3750px;
  left: 0;
  background-color: #f9f9f9;
  width: 1440px;
  height: 207.87px;
}
.final-item {
  top: 7353px;
  background-color: #4d4d4d;
  height: 502px;
}
.image-7-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: -9.68%;
  bottom: 0;
  left: 9.68%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-7,
.image-7-icon1 {
  position: absolute;
  top: 0;
  left: 0;
}
.image-7 {
  width: 88.67px;
  height: 74.43px;
  opacity: 0.03;
}
.image-7-icon1 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-8,
.image-9 {
  width: 88.67px;
  opacity: 0.03;
}
.image-8 {
  position: absolute;
  top: 0;
  left: 90.66px;
  height: 74.43px;
}
.image-9 {
  left: 181.32px;
}
.image-10,
.image-11,
.image-9 {
  position: absolute;
  top: 0;
  height: 74.43px;
}
.image-10 {
  left: 271.98px;
  width: 88.67px;
  opacity: 0.03;
}
.image-11 {
  left: 362.64px;
}
.image-11,
.image-12,
.image-13 {
  width: 88.67px;
  opacity: 0.03;
}
.image-12 {
  position: absolute;
  top: 0;
  left: 453.31px;
  height: 74.43px;
}
.image-13 {
  left: 543.97px;
}
.image-13,
.image-14,
.image-15 {
  position: absolute;
  top: 0;
  height: 74.43px;
}
.image-14 {
  left: 634.63px;
  width: 88.67px;
  opacity: 0.03;
}
.image-15 {
  left: 725.29px;
}
.image-15,
.image-16,
.image-17 {
  width: 88.67px;
  opacity: 0.03;
}
.image-16 {
  position: absolute;
  top: 0;
  left: 815.95px;
  height: 74.43px;
}
.image-17 {
  left: 906.61px;
}
.image-17,
.image-18,
.image-19 {
  position: absolute;
  top: 0;
  height: 74.43px;
}
.image-18 {
  left: 997.27px;
  width: 88.67px;
  opacity: 0.03;
}
.image-19 {
  left: 1087.93px;
}
.image-19,
.image-20,
.image-21 {
  width: 88.67px;
  opacity: 0.03;
}
.image-20 {
  position: absolute;
  top: 0;
  left: 1178.59px;
  height: 74.43px;
}
.image-21 {
  left: 1269.26px;
}
.image-21,
.image-22,
.image-7-parent {
  position: absolute;
  top: 0;
  height: 74.43px;
}
.image-22 {
  left: 1359.92px;
  width: 88.67px;
  opacity: 0.03;
}
.image-7-parent {
  left: 0;
  width: 1448.58px;
}
.group-div,
.image-7-container,
.image-7-group,
.image-7-parent1 {
  position: absolute;
  top: 72.99px;
  left: 0;
  width: 1448.58px;
  height: 74.43px;
}
.group-div,
.image-7-container,
.image-7-parent1 {
  top: 145.99px;
}
.group-div,
.image-7-parent1 {
  top: 218.98px;
}
.image-7-parent1 {
  top: 291.97px;
}
.group-parent,
.image-7-parent2,
.image-7-parent3,
.image-7-parent4 {
  position: absolute;
  top: 364.97px;
  left: 0;
  width: 1448.58px;
  height: 74.43px;
}
.group-parent,
.image-7-parent3,
.image-7-parent4 {
  top: 437.96px;
}
.group-parent,
.image-7-parent4 {
  top: 510.96px;
}
.group-parent {
  top: 0;
  left: -8.58px;
  height: 585.39px;
  opacity: 0.91;
}
.final-inner {
  position: absolute;
  top: 7355px;
  left: 0;
  width: 1440px;
  height: 500px;
  overflow: hidden;
}
.rfffhqs-ierpacssbtgpe7zdhfwlzk-icon {
  position: absolute;
  top: 133px;
  left: 0;
  width: 1440px;
  height: 698px;
  object-fit: cover;
}
.il-tuo-accesso,
.sistemi-fotovoltaici-intellige {
  position: absolute;
  color: var(--ffffff);
  text-align: center;
}
.il-tuo-accesso {
  top: 409.25px;
  left: 384px;
  font-size: 64px;
  line-height: 87.52%;
}
.sistemi-fotovoltaici-intellige {
  top: 490.75px;
  left: 246.5px;
  font-size: var(--font-size-5xl);
  line-height: 141.02%;
  font-weight: 500;
  display: inline-block;
  width: 947px;
  height: 64px;
  opacity: 0.9;
}
.logo-1-icon {
  position: absolute;
  top: 0;
  left: 165px;
  width: 92px;
  height: 44px;
  object-fit: cover;
}
.group-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--be3f);
}

.nav{
    margin: 0px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nav-inner {
  position: absolute;
  height: 41%;
  width: 8.96%;
  top: 2%;
  right: 11.25%;
  bottom: 57%;
  left: 79.79%;
}
.contact-us1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 78.52%;
  font-weight: 400;
}
.contact-us {
  position: absolute;
  top: 16px;
  left: 1171px;
  width: 85px;
  height: 10px;
  color: var(--ffffff);
  font-family: var(--font-inter);
}
.chi-siamo,
.sire,
.sire-features {
  position: absolute;
  top: 1px;
  left: 133.33px;
  line-height: 95.46%;
  display: inline-block;
  width: 92px;
  height: 15px;
}
.sire,
.sire-features {
  left: 303.67px;
  width: 47px;
}
.sire-features {
  left: 429px;
  width: 124px;
}
.home,
.how-it-works,
.sire-product,
.why-sire {
  position: absolute;
  top: 0;
  left: 631.33px;
  line-height: 95.46%;
}
.home,
.how-it-works,
.sire-product {
  left: 798.67px;
}
.home,
.how-it-works {
  top: 1px;
  left: 987px;
  display: inline-block;
  width: 127px;
  height: 15px;
}
.nav a{
  cursor: pointer!important;
  text-decoration:none;
  color: #54595f;
}
.home {
  left: 0;
  line-height: 81.02%;
  font-weight: 500;
  color: var(--be3f);
  width: 55px;
}
.chi-siamo-parent {
  position: absolute;
  top: 83px;
  left: 165px;
  width: 1114px;
  height: 17px;
  font-size: var(--font-size-lg);
}
.call1-icon {
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  height: 15px;
  overflow: hidden;
}
.call1-parent,
.div {
  position: absolute;
  top: 0;
  left: 23.03%;
}
.call1-parent {
  top: 10px;
  left: 662px;
  width: 152px;
  height: 24px;
  text-align: center;
}
.infosolarinnovatiocom {
  position: absolute;
  top: 0;
  left: 20%;
  line-height: 20px;
}
.group-icon {
  position: absolute;
  height: 73.93%;
  width: 9.02%;
  top: 15%;
  right: 90.98%;
  bottom: 11.07%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.infosolarinnovatiocom-parent {
  position: absolute;
  height: 20%;
  width: 17.71%;
  top: 12%;
  right: 22.99%;
  bottom: 68%;
  left: 59.31%;
  text-align: center;
}
.nav,
.nav-child {
  position: absolute;
}
.nav-child {
  top: 58.5px;
  left: -0.5px;
  border-top: 1px solid #f3eded;
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.nav {
  top: 15px;
  left: 0;
  width: 1440px;
  height: 100px;
  color: var(--color-gray-100);
}

.solar-innovatio {
  position: absolute;
  top: 996px;
  left: 165px;
  font-size: var(--font-size-mid);
  line-height: 155.02%;
  text-align: center;
  display: inline-block;
  width: 1110px;
  height: 73px;
}
.about-us1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 84.02%;
  text-transform: uppercase;
  /* font-weight: 600; */
}
.about-us {
  position: absolute;
  top: 911px;
  left: 625.5px;
  width: 189px;
  height: 29px;
  font-size: var(--font-size-17xl);
}
.non-sviluppiamo-pannelli {
  position: absolute;
  top: 13px;
  left: calc(50% - 399px);
  font-size: 21px;
  line-height: 30px;
  display: inline-block;
  font-weight: 500;
  color: var(--color);
  width: 790px;
  height: 84px;
}
.div1,
.div2 {
  position: absolute;
  top: 0;
  line-height: 100%;
  font-family: var(--font-playfair-display);
  display: inline-block;
  width: 42px;
  height: 73px;
}
.nav a{
  cursor: pointer!important;
  text-decoration:none;
  color: #54595f;
}
.div1 {
  left: calc(50% + 448px);
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.div2 {
  left: calc(50% - 448px);
}
.cristian-testoni {
  position: absolute;
  top: 0;
  left: calc(50% - 70px);
  line-height: 91.02%;
  font-weight: 500;
}
.group-inner,
.group-item {
  position: absolute;
  top: 7.5px;
  left: calc(50% - 91.5px);
  border-top: 1px solid var(--be3f);
  box-sizing: border-box;
  width: 15px;
  height: 1px;
}
.group-inner {
  left: calc(50% + 76.5px);
}
.cristian-testoni-parent {
  position: absolute;
  top: 127px;
  left: calc(50% - 95px);
  width: 182px;
  height: 16px;
  font-size: var(--font-size-lg);
  color: var(--be3f);
}
.non-sviluppiamo-pannelli-fotov-parent {
  position: absolute;
  top: 1519px;
  left: calc(50% - 448px);
  width: 896px;
  height: 143px;
  text-align: center;
  font-size: var(--font-size-61xl);
  color: var(--color-darkgray-100);
}
.final-child1 {
  position: absolute;
  top: 932px;
  left: 77px;
  width: 82.07px;
  height: 95.34px;
}
.final-child2,
.final-child3,
.vector-icon {
  position: absolute;
  top: 968px;
  left: 658.29px;
  width: 123.42px;
  height: 4px;
}
.final-child2,
.final-child3 {
  top: 6747px;
  left: 658px;
}
.final-child3 {
  top: 5178px;
  left: 0;
  width: 1444px;
  height: 567.98px;
}
.collegati-al-sole {
  position: absolute;
  height: 28.89%;
  width: 75.44%;
  top: 35.56%;
  left: 12.28%;
  line-height: 87%;
  font-weight: 500;
  display: inline-block;
}
.rectangle-group,
.rectangle-parent {
  position: absolute;
  height: 0.57%;
  width: 11.88%;
  top: 71.88%;
  right: 44.44%;
  bottom: 27.55%;
  left: 43.68%;
  color: var(--ffffff);
}
.rectangle-group {
  top: 83.59%;
  right: 44.03%;
  bottom: 15.84%;
  left: 44.1%;
}
.final-child4 {
  position: absolute;
  top: 5289.61px;
  left: 658px;
  width: 123.42px;
  height: 4px;
}
.about-us3 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 84.02%;
  font-weight: 500;
}
.about-us2 {
  position: absolute;
  top: 5231.4px;
  left: 477.5px;
  width: 481px;
  height: 30px;
  font-size: var(--font-size-17xl);
}
.group-child2,
.group-child3,
.group-child4,
.group-child5 {
  position: absolute;
  top: -0.75px;
  left: -0.75px;
  width: 288.75px;
  height: 257.5px;
}
.group-child3,
.group-child4,
.group-child5 {
  left: 284.25px;
}
.group-child4,
.group-child5 {
  left: 568.25px;
}
.group-child5 {
  height: 100.59%;
  width: 22.97%;
  top: -0.29%;
  right: -0.07%;
  bottom: -0.29%;
  left: 77.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.instance-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--ffffff);
  box-shadow: var(--drop-shadow);
}
.frame-icon,
.rectangle-wrapper {
  position: absolute;
  top: 13px;
  left: 13px;
  width: 227px;
  height: 230px;
}
.frame-icon {
  top: 40px;
  left: 100px;
  width: 54px;
  height: 46px;
}
.richiedi-un-preventivo {
  position: absolute;
  top: 104px;
  left: 42px;
  width: 170px;
  height: 13px;
}
.rectangle-container,
.rectangle-frame,
.rectangle-wrapper1 {
  position: absolute;
  top: 13px;
  left: 298px;
  width: 227px;
  height: 230px;
}
.rectangle-frame,
.rectangle-wrapper1 {
  left: 582px;
}
.rectangle-wrapper1 {
  left: 868px;
}
.senza-impegno-un {
  margin: 0;
}
.senza-impegno-un-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 126.52%;
  display: inline-block;
}
.senza-impegno-un-nostro-solar {
  position: absolute;
  top: 136px;
  left: 29px;
  width: 195px;
  height: 67px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--light);
}
.senza-impegno-un-nostro-solar1,
.senza-impegno-un-nostro-solar2,
.senza-impegno-un-nostro-solar3 {
  position: absolute;
  top: 136px;
  left: 334px;
  width: 158px;
  height: 50px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--light);
}
.senza-impegno-un-nostro-solar2,
.senza-impegno-un-nostro-solar3 {
  left: 602px;
  width: 187px;
}
.senza-impegno-un-nostro-solar3 {
  left: 892px;
  width: 181px;
  height: 32px;
}
.richiedi-un-preventivo2 {
  position: absolute;
  top: 104px;
  left: 323px;
  width: 177px;
  height: 13px;
}
.richiedi-un-preventivo4,
.richiedi-un-preventivo6 {
  position: absolute;
  top: 104px;
  left: 648px;
  width: 96px;
  height: 13px;
}
.richiedi-un-preventivo6 {
  left: 899px;
  width: 165px;
  height: 12px;
}
.download-3-1,
.download-4-1,
.download-5-1 {
  position: absolute;
  top: 40px;
  left: 389px;
  width: 54px;
  height: 46px;
  overflow: hidden;
}
.download-4-1,
.download-5-1 {
  left: 666px;
}
.download-5-1 {
  left: 962px;
}
.group-container {
  position: absolute;
  top: 5341.61px;
  left: 166px;
  width: 1108px;
  height: 256px;
  font-family: var(--font-inter);
}
.leo-dui-fermentum {
  position: absolute;
  top: 7500.74px;
  left: 164px;
  line-height: 146.02%;
  color: var(--ffffff);
  display: inline-block;
  width: 274px;
  height: 125px;
}
.help-center {
  top: 7501.22px;
  left: 751.29px;
  display: inline-block;
  width: 95px;
  height: 12px;
}
.help-center,
.lindked-here,
.privacy-policy {
  position: absolute;
  line-height: 94.02%;
  color: var(--ffffff);
  opacity: 0.8;
}
.lindked-here {
  top: 7705.99px;
  left: 751.29px;
  text-decoration: underline;
}
.privacy-policy {
  top: 7533.22px;
  left: 751px;
  display: inline-block;
  width: 112px;
  height: 12px;
}
.terms-condition {
  top: 7565.22px;
  left: 751.29px;
  line-height: 109.52%;
  color: var(--ffffff);
  width: 148px;
  height: 14px;
}
.faq,
.leo-dui-fermentum1,
.terms-condition {
  position: absolute;
  display: inline-block;
  opacity: 0.8;
}
.faq {
  top: 7599.22px;
  left: 751.29px;
  line-height: 109.52%;
  color: var(--ffffff);
  width: 148px;
  height: 14px;
}
.leo-dui-fermentum1 {
  top: 0;
  left: 44px;
  line-height: 133.52%;
  width: 267px;
  height: 61px;
}
.group-icon1 {
  position: absolute;
  height: 37.7%;
  width: 7.4%;
  top: 6.56%;
  right: 92.6%;
  bottom: 55.74%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.leo-dui-fermentum-tristique-ur-parent {
  position: absolute;
  top: 7495.74px;
  left: 964px;
  width: 311px;
  height: 61px;
  color: var(--ffffff);
}
.emailemailcom,
.supportemailcom {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 95.02%;
  display: inline-block;
  width: 147px;
  height: 12px;
  opacity: 0.8;
}
.supportemailcom {
  top: 25px;
  width: 168px;
}
.emailemailcom-parent,
.group-child6 {
  position: absolute;
  top: 0;
  left: 41.29px;
  width: 168px;
  height: 37px;
}
.group-child6 {
  height: 42.74%;
  width: 10.99%;
  top: 28.63%;
  right: 89.01%;
  bottom: 28.63%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-parent1 {
  position: absolute;
  top: 7580.74px;
  left: 966px;
  width: 209.29px;
  height: 37px;
  color: var(--ffffff);
}
.div3 {
  position: absolute;
  top: 4px;
  left: 41px;
  line-height: 95.02%;
  display: inline-block;
  width: 131px;
  height: 12px;
  opacity: 0.8;
}
.group-icon2 {
  position: absolute;
  height: 100%;
  width: 11.05%;
  top: 0;
  right: 88.95%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.parent {
  position: absolute;
  top: 7641.74px;
  left: 966px;
  width: 172px;
  height: 19px;
  color: var(--ffffff);
}
.contact-us2,
.documents,
.quick-links,
.useful-links {
  position: absolute;
  top: 7459.22px;
  left: 545px;
  line-height: 95.52%;
  font-weight: 600;
  color: var(--ffffff);
}
.contact-us2,
.documents,
.useful-links {
  left: 751px;
  display: inline-block;
  width: 95px;
  height: 12px;
}
.contact-us2,
.documents {
  top: 7661.24px;
}
.contact-us2 {
  top: 7459.22px;
  left: 963px;
}
.line-div {
  position: absolute;
  top: 7790.69px;
  left: 165.5px;
  border-top: 1px solid #c9c9c9;
  box-sizing: border-box;
  width: 1111px;
  height: 1px;
}
.all-rights-reserved {
  position: absolute;
  height: 0.14%;
  width: 9.1%;
  top: 99.54%;
  left: 11.53%;
  font-size: var(--font-size-sm);
  line-height: 91.5%;
  color: var(--ffffff);
  display: inline-block;
}
.final-child5,
.logo-1-icon1,
.vector-icon1,
.vector-icon2 {
  position: absolute;
  height: 0.33%;
  width: 1.81%;
  top: 99.44%;
  right: 18.4%;
  bottom: 0.23%;
  left: 79.79%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.final-child5,
.logo-1-icon1,
.vector-icon2 {
  width: 1.8%;
  right: 15%;
  left: 83.2%;
}
.logo-1-icon1,
.vector-icon2 {
  width: 1.81%;
  right: 11.6%;
  left: 86.6%;
}
.logo-1-icon1 {
  height: 0.59%;
  width: 6.74%;
  top: 94.57%;
  right: 82.15%;
  bottom: 4.84%;
  left: 11.11%;
  object-fit: cover;
}
.hf2eveveaqf0qwve9qpwtamywub3vw-icon {
  position: absolute;
  top: 7220.72px;
  left: 0;
  width: 1440.29px;
  height: 133.59px;
  object-fit: cover;
}
.group-child7,
.group-child8 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 25px;
  background-color: var(--ffffff);
}
.group-child8 {
  height: 78%;
  width: 9.13%;
  top: 12%;
  right: 1.41%;
  bottom: 10%;
  left: 89.46%;
  border-radius: 20px;
  background-color: var(--be3f);
}
.inserisci-la-tua {
  position: absolute;
  top: 35.97%;
  left: 6.46%;
  line-height: 80%;
}
.group-child9 {
  position: absolute;
  height: 24%;
  width: 2.81%;
  top: 40%;
  right: 4.45%;
  bottom: 36%;
  left: 92.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent1 {
  position: absolute;
  height: 0.64%;
  width: 29.65%;
  top: 92.5%;
  right: 11.81%;
  bottom: 6.86%;
  left: 58.54%;
  font-size: var(--font-size-mid);
  color: #979797;
}
.leo-dui-fermentum2 {
  position: absolute;
  top: 36px;
  left: 0;
  line-height: 112.52%;
  display: inline-block;
  width: 503px;
  height: 34px;
}
.subscribe-for-newsletter {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-5xl);
  line-height: 80%;
  font-weight: 600;
}
.final-inner1,
.leo-dui-fermentum-tristique-ur-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 503px;
  height: 70px;
}
.final-inner1 {
  top: 7255.74px;
  left: 160px;
  color: var(--ffffff);
}
.final-child6 {
  position: absolute;
  top: 6796.29px;
  left: 168px;
  border-radius: var(--br-4xs);
  background-color: var(--ffffff);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 350px;
  height: 344px;
}
.frame-child,
.frame-div {
  position: absolute;
  width: 730px;
  height: 344px;
}
.frame-child {
  top: 0;
  left: 0;
  border-radius: var(--br-4xs);
  background-color: var(--ffffff);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
}
.frame-div {
  top: 6796.29px;
  left: 548px;
}
.we-will-get-container {
  position: absolute;
  top: 7069.49px;
  left: 197px;
  line-height: 133.52%;
  display: inline-block;
  width: 242px;
  height: 37px;
}
.instance-child2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
}
.final-inner2,
.final-inner3,
.final-inner4 {
  position: absolute;
  top: 6824.29px;
  left: 576px;
  width: 329px;
  height: 45px;
}
.final-inner3,
.final-inner4 {
  top: 6883.29px;
  width: 674px;
}
.final-inner4 {
  top: 6943.29px;
  height: 115px;
}
.first-name1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 70.5%;
}
.first-name,
.first-name2,
.first-name4 {
  position: absolute;
  top: 6841.29px;
  left: 593px;
  width: 75px;
  height: 10px;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray-200);
}
.first-name2,
.first-name4 {
  top: 6900.29px;
  width: 38px;
}
.first-name4 {
  top: 6960.29px;
  width: 63px;
}
.final-inner5,
.first-name6 {
  position: absolute;
  top: 6823.29px;
  left: 921px;
  width: 329px;
  height: 45px;
}
.first-name6 {
  top: 6840.29px;
  left: 945px;
  width: 75px;
  height: 10px;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray-200);
}
.leo-dui-fermentum3 {
  position: absolute;
  top: 0;
  left: 48px;
  line-height: 133.52%;
  display: inline-block;
  width: 250px;
  height: 59px;
}
.group-icon3 {
  position: absolute;
  height: 52.54%;
  width: 10.4%;
  top: 0;
  right: 89.6%;
  bottom: 47.46%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.leo-dui-fermentum-tristique-ur-container {
  position: absolute;
  top: 6824.29px;
  left: 196px;
  width: 298px;
  height: 59px;
  color: var(--light);
}
.emailemailcom1,
.supportemailcom1 {
  position: absolute;
  top: 0;
  left: 47px;
  line-height: 95.02%;
  display: inline-block;
  width: 147px;
  height: 12px;
}
.supportemailcom1 {
  top: 25px;
  width: 164px;
  height: 13px;
}
.group-child10 {
  position: absolute;
  height: 56.09%;
  width: 14.69%;
  top: 1.07%;
  right: 85.31%;
  bottom: 42.84%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.emailemailcom-group {
  position: absolute;
  top: 6918.19px;
  left: 196px;
  width: 211px;
  height: 38px;
  color: var(--light);
}
.div4 {
  position: absolute;
  top: 5.9px;
  left: 43px;
  line-height: 95.02%;
  display: inline-block;
  width: 130px;
  height: 13px;
}
.group-icon4 {
  position: absolute;
  height: 100%;
  width: 13.29%;
  top: 0;
  right: 86.71%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group {
  position: absolute;
  top: 6995.29px;
  left: 200px;
  width: 173px;
  height: 23px;
  color: var(--light);
}
.group-child11 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--be3f);
  width: 141px;
  height: 45px;
}
.send {
  position: absolute;
  top: 16.5px;
  left: 50px;
  line-height: 91.02%;
  display: inline-block;
  width: 41px;
  height: 12px;
}
.rectangle-parent2 {
  position: absolute;
  top: 7076.29px;
  left: 1109px;
  width: 141px;
  height: 45px;
  font-size: 15px;
  color: var(--ffffff);
  font-family: var(--font-inter);
  cursor: pointer;
}
.final-child7 {
  position: absolute;
  top: 7050.79px;
  left: 196.5px;
  border-top: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 293px;
  height: 1px;
}
.about-us5 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  line-height: 84.02%;
  font-weight: 600;
  display: inline-block;
}
.about-us4 {
  position: absolute;
  top: 6691px;
  left: 603px;
  width: 235px;
  height: 28px;
  font-size: var(--font-size-17xl);
}
.ellipse-div,
.final-child8,
.final-child9 {
  position: absolute;
  top: 2215.38px;
  left: 583.04px;
  width: 82.07px;
  height: 95.34px;
}
.ellipse-div,
.final-child9 {
  top: 1755px;
  left: 97px;
}
.ellipse-div {
  top: 1831.85px;
  left: 174.04px;
  border-radius: 50%;
  border: 38px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  width: 413.9px;
  height: 413.9px;
}
.group-child12,
.sire1 {
  position: absolute;
  top: 0;
}
.group-child12 {
  height: 64.48%;
  width: 27.92%;
  right: 1.11%;
  bottom: 35.52%;
  left: 70.97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sire1 {
  left: 0;
  line-height: 84.02%;
  font-weight: 500;
  text-align: center;
}
.sire-il,
.smart-integrated-renewable {
  position: absolute;
  display: inline-block;
}
.smart-integrated-renewable {
  height: 18.07%;
  width: 100%;
  top: 17.98%;
  left: 0;
  font-size: 34px;
  line-height: 45px;
  font-weight: 600;
  color: var(--color);
}
.sire-il {
  width: 87.56%;
  top: 62.47%;
  left: 0.19%;
  font-size: var(--font-size-mid);
  line-height: 160%;
  color: var(--light);
}
.group-child13 {
  position: absolute;
  top: 105.85px;
  left: -0.83px;
  width: 123.42px;
  height: 4px;
}
.group-parent2,
.sire-parent {
  position: absolute;
  height: 82.68%;
  width: 100%;
  top: 17.32%;
  right: 0;
  bottom: 0;
  left: 0;
}
.group-parent2 {
  height: 3.32%;
  width: 43.54%;
  top: 23.93%;
  right: 11.25%;
  bottom: 72.74%;
  left: 45.21%;
  font-size: 30px;
  color: var(--be3f);
}
.final-child10 {
  position: absolute;
  top: 1805.1px;
  left: 1073.63px;
  width: 82.07px;
  height: 95.34px;
}
.donald-giannatti-wj1d-qiosee-u-icon,
.unsplash3tq8i-sr9a8-icon {
  position: absolute;
  top: 1774.21px;
  left: 121.04px;
  border-radius: var(--br-8xs);
  width: 384px;
  height: 410.5px;
  object-fit: cover;
}
.unsplash3tq8i-sr9a8-icon {
  top: 2032px;
  left: 282.04px;
  width: 360.54px;
  height: 264.77px;
}
.about-us6 {
  position: absolute;
  top: 4038px;
  left: 570px;
  width: 299px;
  height: 25px;
  font-size: var(--font-size-17xl);
}
.final-child11 {
  position: absolute;
  top: 4146px;
  left: 165px;
  background-color: var(--ffffff);
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
  width: 540px;
  height: 952px;
}
.consigliato-per,
.sire-direct {
  position: absolute;
  left: 13.26%;
  display: inline-block;
}
.consigliato-per {
  height: 0.17%;
  width: 10.21%;
  top: 60.31%;
  line-height: 84.02%;
  font-weight: 500;
  font-family: var(--font-inter);
}
.sire-direct {
  height: 0.24%;
  width: 10.28%;
  top: 57.36%;
  font-size: var(--font-size-5xl);
  line-height: 88.02%;
  font-weight: 600;
  color: var(--be3f);
}
.struttura-meccanizzata-in {
  position: absolute;
  top: 0;
  left: 21px;
  line-height: 124.52%;
  display: inline-block;
  width: 392px;
  height: 36px;
}
.group-child14 {
  position: absolute;
  top: 5px;
  left: 0;
  width: 9px;
  height: 12.15px;
}
.struttura-meccanizzata-in-poli-parent {
  position: absolute;
  top: 33px;
  left: 0;
  width: 413px;
  height: 36px;
}
.pannelli-alta-efficienza {
  position: absolute;
  top: 0;
  left: 21px;
  line-height: 81.52%;
  display: inline-block;
  width: 245px;
  height: 13px;
}
.group-child15 {
  position: absolute;
  top: 0.4px;
  left: 0;
  width: 9px;
  height: 12.15px;
}
.pannelli-alta-efficienza-da-1k-parent,
.sistema-plugin {
  position: absolute;
  top: 89px;
  left: 0;
  width: 266px;
  height: 13px;
}
.sistema-plugin {
  top: 0;
  left: 21px;
  line-height: 67.52%;
  display: inline-block;
  width: 118px;
  height: 11px;
}
.sistema-plugin-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 139px;
  height: 12.55px;
}
.inverter-e-conne {
  position: absolute;
  top: 1.2px;
  left: 21px;
  line-height: 69.02%;
  display: inline-block;
  width: 374px;
  height: 11px;
}
.group-child17 {
  position: absolute;
  top: 0;
  left: 0;
  width: 9px;
  height: 12.15px;
}
.inverter-e-conne-ssione-aiiim-parent {
  position: absolute;
  top: 122px;
  left: 0;
  width: 395px;
  height: 12.2px;
}
.app-di-controllo {
  position: absolute;
  top: 0;
  left: 21px;
  line-height: 76.52%;
  display: inline-block;
  width: 222px;
  height: 12px;
}
.group-child18 {
  position: absolute;
  top: 0.2px;
  left: 0;
  width: 9px;
  height: 12.15px;
}
.app-di-controllo-e-gesti-one-parent,
.group-parent3 {
  position: absolute;
  top: 154.2px;
  left: 0;
  width: 243px;
  height: 12.35px;
}
.group-parent3 {
  top: 4551px;
  left: 192px;
  width: 413px;
  height: 166.55px;
  color: var(--light);
}
.pexels-pixabay-46169-1-icon {
  position: absolute;
  top: 4146px;
  left: 165px;
  width: 540px;
  height: 336px;
  object-fit: cover;
}
.final-child12 {
  position: absolute;
  top: 4091px;
  left: 658px;
  width: 123.42px;
  height: 4px;
}
.scopri-le-caratteristiche {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 174.52%;
  font-weight: 500;
}
.vector-icon3 {
  position: absolute;
  height: 26.3%;
  width: 2.65%;
  top: 36.85%;
  right: 0;
  bottom: 36.85%;
  left: 97.35%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.scopri-le-caratteristiche-tecn-parent {
  position: absolute;
  height: 0.36%;
  width: 34.07%;
  top: 62.06%;
  right: 52.7%;
  bottom: 37.58%;
  left: 13.23%;
}
.families {
  position: absolute;
  height: 16.28%;
  width: 100%;
  top: 83.72%;
  left: 0;
  line-height: 109.02%;
  display: inline-block;
}
.families-parent,
.group-child19 {
  position: absolute;
  top: 0;
  left: 2px;
  width: 62px;
  height: 62px;
}
.families-parent {
  height: 1.09%;
  width: 4.58%;
  top: 60.74%;
  right: 74.24%;
  bottom: 38.17%;
  left: 21.18%;
  color: var(--light);
}
.devices-parent,
.group-child20 {
  position: absolute;
  top: 0;
  left: 0.5px;
  width: 62px;
  height: 62px;
}
.devices-parent {
  height: 1.09%;
  width: 4.38%;
  top: 60.74%;
  right: 82.36%;
  bottom: 38.17%;
  left: 13.26%;
  color: var(--light);
}
.about-us9 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 84.02%;
  font-weight: 600;
}
.about-us8 {
  position: absolute;
  top: 3216px;
  left: 598px;
  width: 244px;
  height: 28px;
  font-size: var(--font-size-17xl);
}
.final-child13,
.final-child14 {
  position: absolute;
  top: 3272.3px;
  left: 658px;
  width: 123.42px;
  height: 4px;
}
.final-child14 {
  top: 3326.6px;
  left: 163px;
  border-radius: var(--br-3xs);
  background-color: var(--ffffff);
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
  width: 349.06px;
  height: 372.51px;
}
.risparmia-da-un,
.risparmio-energetico {
  position: absolute;
  text-align: center;
  display: inline-block;
}
.risparmio-energetico {
  width: 24.24%;
  top: 44.05%;
  left: 11.32%;
  font-size: var(--font-size-5xl);
  line-height: 50px;
  font-weight: 600;
}
.risparmia-da-un {
  height: 1.91%;
  width: 22.43%;
  top: 44.74%;
  left: 12.22%;
  line-height: 26px;
}
.final-child15 {
  position: absolute;
  top: 3326.6px;
  left: 547.4px;
  border-radius: var(--br-3xs);
  background-color: var(--ffffff);
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
  width: 349.06px;
  height: 372.51px;
}
.mobilit-elettrica {
  position: absolute;
  top: 44.05%;
  left: 43.06%;
  font-size: var(--font-size-5xl);
  line-height: 50px;
  font-weight: 600;
  text-align: center;
}
.lunica-soluzione-che {
  position: absolute;
  height: 1.57%;
  width: 22.47%;
  top: 44.75%;
  left: 38.75%;
  line-height: 26px;
  text-align: center;
  display: inline-block;
}
.final-child16 {
  position: absolute;
  top: 3326.6px;
  left: 929px;
  border-radius: var(--br-3xs);
  background-color: var(--ffffff);
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
  width: 349.06px;
  height: 372.51px;
}
.comunit-energetica {
  position: absolute;
  top: 44.05%;
  left: 67.61%;
  font-size: var(--font-size-5xl);
  line-height: 50px;
  font-weight: 600;
  text-align: center;
}
.dal-concetto-di {
  position: absolute;
  height: 1.87%;
  width: 22.47%;
  top: 44.75%;
  left: 65.4%;
  line-height: 26px;
  text-align: center;
  display: inline-block;
}
.group-child21,
.pattern-8-2-icon {
  position: absolute;
  top: 0;
  height: 757.5px;
}
.group-child21 {
  left: 0;
  background-color: #fcfcfc;
  width: 1440px;
}
.pattern-8-2-icon {
  left: 4.35px;
  width: 1435.16px;
  object-fit: cover;
}
.about-us10,
.rectangle-parent3 {
  position: absolute;
  top: 2378px;
  left: 0;
  width: 1440px;
  height: 757.5px;
}
.about-us10 {
  top: 0;
  left: 241px;
  width: 626px;
  height: 28px;
  font-size: var(--font-size-17xl);
}
.group-child22 {
  position: absolute;
  height: 45.86%;
  width: 11.6%;
  top: 0;
  right: 88.4%;
  bottom: 54.14%;
  left: 0;
  border-radius: 50%;
  border: 3px solid var(--be3f);
  box-sizing: border-box;
}
.il-sistema-si {
  position: absolute;
  top: 28px;
  left: 74px;
  line-height: 120.02%;
  display: inline-block;
  width: 452px;
  height: 105px;
}
.vector-icon4 {
  position: absolute;
  height: 24.06%;
  width: 5.13%;
  top: 10.53%;
  right: 91.63%;
  bottom: 65.41%;
  left: 3.23%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.connesso {
  position: absolute;
  top: 0;
  left: 74px;
  font-size: var(--font-size-xl);
  line-height: 84.02%;
  font-weight: 600;
  color: var(--color-gray-200);
}
.ellipse-parent {
  position: absolute;
  height: 22.8%;
  width: 47.47%;
  top: 49.97%;
  right: 0;
  bottom: 27.22%;
  left: 52.53%;
}
.dalle-fonte-non {
  position: absolute;
  top: 28.2px;
  left: 74px;
  line-height: 120.02%;
  display: inline-block;
  width: 452px;
  height: 64px;
}
.group-child23 {
  position: absolute;
  height: 66.16%;
  width: 11.6%;
  top: 0;
  right: 88.4%;
  bottom: 33.84%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.indipendente-e-green {
  position: absolute;
  top: 0.5px;
  left: 74px;
  font-size: var(--font-size-xl);
  line-height: 84.02%;
  font-weight: 600;
  color: var(--color-gray-200);
}
.dalle-fonte-non-rinnovabili-no-parent {
  position: absolute;
  top: 134.69px;
  left: 582px;
  width: 526px;
  height: 92.2px;
}
.group-child24,
.group-child25 {
  position: absolute;
  top: 56.19px;
  left: 492.29px;
  width: 123.42px;
  height: 4px;
}
.group-child25 {
  height: 51.87%;
  width: 11.6%;
  top: 0;
  right: 88.4%;
  bottom: 48.13%;
  left: 0;
  border-radius: 50%;
  border: 3px solid var(--be3f);
  box-sizing: border-box;
}
.il-sistema {
  position: absolute;
  top: 28px;
  left: 74px;
  line-height: 120.02%;
  display: inline-block;
  width: 452px;
  height: 89.6px;
}
.vector-icon5 {
  position: absolute;
  height: 26.36%;
  width: 5.13%;
  top: 12.75%;
  right: 91.63%;
  bottom: 60.88%;
  left: 3.23%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ellipse-group,
.group-child26 {
  position: absolute;
  height: 20.16%;
  width: 47.47%;
  top: 79.84%;
  right: 0;
  bottom: 0;
  left: 52.53%;
}
.group-child26 {
  height: 52.14%;
  width: 12.23%;
  top: 0;
  right: 87.77%;
  bottom: 47.86%;
  left: 0;
  border-radius: 50%;
  border: 3px solid var(--be3f);
  box-sizing: border-box;
}
.versatile {
  position: absolute;
  top: 0.5px;
  left: 74px;
  line-height: 84.02%;
  font-weight: 600;
}
.installabile-in-qualsiasi {
  position: absolute;
  top: 28.45px;
  left: 74px;
  font-size: var(--font-size-lg);
  line-height: 128.52%;
  color: var(--color);
  display: inline-block;
  width: 424.62px;
  height: 88.55px;
}
.group-icon5 {
  position: absolute;
  height: 20.57%;
  width: 7.02%;
  top: 16.19%;
  right: 90.37%;
  bottom: 63.24%;
  left: 2.61%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ellipse-container {
  position: absolute;
  height: 20.06%;
  width: 45%;
  top: 23.09%;
  right: 55%;
  bottom: 56.85%;
  left: 0;
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
}
.group-child27 {
  position: absolute;
  height: 45.39%;
  width: 11.38%;
  top: 0;
  right: 88.62%;
  bottom: 54.61%;
  left: 0;
  border-radius: 50%;
  border: 3px solid var(--be3f);
  box-sizing: border-box;
}
.totalmente-automatico-e {
  position: absolute;
  top: 28px;
  left: 0;
  line-height: 120.02%;
  display: inline-block;
  width: 462px;
  height: 106.39px;
}
.automatizzato {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-xl);
  line-height: 84.02%;
  font-weight: 600;
  color: var(--color-gray-200);
}
.totalmente-automatico-e-retrai-parent,
.vector-icon6 {
  position: absolute;
  top: 0;
  left: 74px;
  width: 462px;
  height: 134.39px;
}
.vector-icon6 {
  height: 23.07%;
  width: 6.53%;
  top: 11.16%;
  right: 91.04%;
  bottom: 65.77%;
  left: 2.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ellipse-parent1,
.group-child28 {
  position: absolute;
  height: 23.04%;
  width: 48.38%;
  top: 49.97%;
  right: 51.62%;
  bottom: 26.99%;
  left: 0;
}
.group-child28 {
  height: 51.95%;
  width: 11.49%;
  top: 0.26%;
  right: 88.51%;
  bottom: 47.79%;
  border-radius: 50%;
  border: 3px solid var(--be3f);
  box-sizing: border-box;
}
.il-sistema-di {
  position: absolute;
  top: 28px;
  left: 0;
  line-height: 120.02%;
  display: inline-block;
  width: 457px;
  height: 89.41px;
}
.group-icon6,
.il-sistema-di-accumulo-permett-parent {
  position: absolute;
  top: 0;
  left: 74px;
  width: 457px;
  height: 117.41px;
}
.group-icon6 {
  height: 20.99%;
  width: 5.91%;
  top: 15.71%;
  right: 91.34%;
  bottom: 63.3%;
  left: 2.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ellipse-parent2 {
  position: absolute;
  height: 20.13%;
  width: 47.92%;
  top: 79.84%;
  right: 52.08%;
  bottom: 0.03%;
  left: 0;
}
.about-us-parent {
  position: absolute;
  top: 2465.1px;
  left: 166px;
  width: 1108px;
  height: 583.29px;
  font-size: var(--font-size-lg);
}
.final-child17,
.final-child18 {
  position: absolute;
  top: 5799px;
  left: 1151px;
  width: 123.96px;
  height: 103.12px;
}
.final-child18 {
  top: 6582px;
  left: 203px;
  width: 162.04px;
  height: 134.8px;
}
.frequently-asked-questions {
  position: absolute;
  height: 0.46%;
  width: 31.53%;
  top: 74.17%;
  left: 34.24%;
  font-size: 32px;
  line-height: 50px;
  font-weight: 600;
  text-align: center;
  display: inline-block;
}
.final-child19,
.final-child20 {
  position: absolute;
  top: 5890.6px;
  left: 648px;
  width: 144px;
  height: 4px;
}
.final-child20 {
  top: 5890px;
}
.final-child21,
.final-child22 {
  position: absolute;
  top: 5942.6px;
  left: 168px;
  width: 1104px;
}
.final-child21 {
  border-radius: var(--br-7xs);
  background-color: var(--ffffff);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
  height: 97.41px;
}
.final-child22 {
  border-radius: var(--br-7xs) var(--br-7xs) 0 0;
  background-color: #fefefe;
  height: 56px;
}
.sire-pu-essere {
  position: absolute;
  width: 73.75%;
  top: 76.37%;
  left: 13.47%;
  font-size: var(--font-size-sm);
  line-height: 24px;
  color: #54595f;
  display: inline-block;
}
.dove-si-monta {
  position: absolute;
  top: 75.86%;
  left: 16.67%;
  font-weight: 500;
}
.vector-icon7 {
  position: absolute;
  height: 0.02%;
  width: 1.26%;
  top: 75.99%;
  right: 85.26%;
  bottom: 23.98%;
  left: 13.47%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child29 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--ffffff);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);
  width: 1104px;
  height: 56px;
}
.quanto-tempo-impiega {
  position: absolute;
  top: 30.62%;
  left: 6.57%;
  font-weight: 500;
}
.group-child30 {
  position: absolute;
  height: 35.66%;
  width: 1.81%;
  top: 34.22%;
  right: 96.03%;
  bottom: 30.12%;
  left: 2.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent4,
.rectangle-parent5 {
  position: absolute;
  top: 6137px;
  left: 168px;
  width: 1104px;
  height: 56px;
}
.rectangle-parent5 {
  top: 6061px;
}
.e-necessario-richiedere {
  position: absolute;
  top: 30.74%;
  left: 6.57%;
  font-weight: 500;
}
.group-child34 {
  position: absolute;
  height: 35.66%;
  width: 1.81%;
  top: 34.34%;
  right: 96.03%;
  bottom: 30%;
  left: 2.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent6 {
  position: absolute;
  top: 6213px;
  left: 168px;
  width: 1104px;
  height: 56px;
}
.e-necessario-predisporre {
  position: absolute;
  top: 30.86%;
  left: 6.57%;
  font-weight: 500;
}
.group-child36 {
  position: absolute;
  height: 35.66%;
  width: 1.81%;
  top: 34.46%;
  right: 96.03%;
  bottom: 29.88%;
  left: 2.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.final-child23,
.rectangle-parent7,
.rectangle-parent8,
.rectangle-parent9 {
  position: absolute;
  top: 6289px;
  left: 168px;
  width: 1104px;
  height: 56px;
}
.final-child23,
.rectangle-parent8,
.rectangle-parent9 {
  top: 6365.4px;
}
.final-child23,
.rectangle-parent9 {
  top: 6441.7px;
}
.final-child23 {
  top: 3780px;
  left: 163.12px;
  border-radius: var(--br-7xs);
  background-color: var(--ffffff);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
  width: 255px;
  height: 147.9px;
}
.div5 {
  position: absolute;
  height: 0.25%;
  width: 14.86%;
  top: 49.05%;
  left: 12.75%;
  font-size: var(--font-size-5xl);
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  display: inline-block;
}
.group-icon7 {
  position: absolute;
  height: 0.44%;
  width: 3.62%;
  top: 48.41%;
  right: 78.01%;
  bottom: 51.14%;
  left: 18.37%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.final-child24 {
  position: absolute;
  top: 3780px;
  left: 448.12px;
  border-radius: var(--br-7xs);
  background-color: var(--ffffff);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
  width: 255px;
  height: 147.9px;
}
.vector-icon8 {
  position: absolute;
  height: 0.08%;
  width: 0.41%;
  top: 48.64%;
  right: 59.75%;
  bottom: 51.29%;
  left: 39.84%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div6 {
  position: absolute;
  height: 0.23%;
  width: 5.76%;
  top: 49.05%;
  left: 37.09%;
  font-size: var(--font-size-5xl);
  line-height: 18.5px;
  font-weight: 600;
  text-align: center;
  display: inline-block;
}
.detrazione-domotica,
.superbonus {
  position: absolute;
  top: 49.48%;
  left: 33.58%;
  line-height: 14.5px;
  text-transform: uppercase;
  color: var(--light);
  text-align: center;
}
.superbonus {
  top: 49.42%;
  left: 16.64%;
  line-height: 24px;
}
.vector-icon9 {
  position: absolute;
  height: 0.42%;
  width: 1.53%;
  top: 48.43%;
  right: 59.26%;
  bottom: 51.15%;
  left: 39.21%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.final-child25 {
  position: absolute;
  top: 3780px;
  left: 733.12px;
  border-radius: var(--br-7xs);
  background-color: var(--ffffff);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
  width: 255px;
  height: 147.9px;
}
.progettazione-personalizzata {
  position: absolute;
  width: 10.69%;
  top: 49.18%;
  left: 54.42%;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--light);
  text-align: center;
  display: inline-block;
}
.vector-icon10 {
  position: absolute;
  height: 0.42%;
  width: 2.01%;
  top: 48.43%;
  right: 39.23%;
  bottom: 51.15%;
  left: 58.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.final-child26 {
  position: absolute;
  top: 3780px;
  left: 1018.12px;
  border-radius: var(--br-7xs);
  background-color: var(--ffffff);
  border: 1px solid #f5f5f5;
  box-sizing: border-box;
  width: 255px;
  height: 147.9px;
}
.consulenza-fiscale-sui {
  position: absolute;
  width: 14.16%;
  top: 49.18%;
  left: 72.48%;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--light);
  text-align: center;
  display: inline-block;
}
.vector-icon11 {
  position: absolute;
  height: 0.39%;
  width: 2.92%;
  top: 48.44%;
  right: 18.98%;
  bottom: 51.17%;
  left: 78.1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.final-child27 {
  position: absolute;
  height: 3.53%;
  width: 24.31%;
  top: 15.3%;
  right: 64.17%;
  bottom: 81.17%;
  left: 11.53%;
  border-radius: var(--br-7xs);
  background-color: var(--color-whitesmoke-100);
}
.cristian-testoni1 {
  position: absolute;
  top: 16.56%;
  left: 18.13%;
  font-size: var(--font-size-xl);
  line-height: 22px;
  font-weight: 500;
  text-align: center;
}
.ingegnere-meccanico-mba {
  position: absolute;
  height: 1.2%;
  width: 22.29%;
  top: 16.96%;
  left: 12.5%;
  font-size: var(--font-size-sm);
  line-height: 19.5px;
  color: var(--light);
  text-align: center;
  display: inline-block;
}
.final-child28 {
  position: absolute;
  height: 3.53%;
  width: 24.31%;
  top: 15.3%;
  right: 37.71%;
  bottom: 81.17%;
  left: 37.99%;
  border-radius: var(--br-7xs);
  background-color: var(--color-whitesmoke-100);
}
.francesco-gavioli,
.ingegnere-meccanico-mba1 {
  position: absolute;
  top: 16.56%;
  left: 43.82%;
  font-size: var(--font-size-xl);
  line-height: 22px;
  font-weight: 500;
  text-align: center;
}
.ingegnere-meccanico-mba1 {
  width: 19.75%;
  top: 17.4%;
  left: 42.43%;
  font-size: var(--font-size-sm);
  color: var(--light);
  display: none;
}
.final-child29,
.rectangle-icon {
  position: absolute;
  border-radius: var(--br-7xs);
}
.final-child29 {
  height: 3.53%;
  width: 24.31%;
  top: 15.3%;
  right: 11.25%;
  bottom: 81.17%;
  left: 64.44%;
  background-color: var(--color-whitesmoke-100);
}
.rectangle-icon {
  height: 2.19%;
  width: 12.64%;
  top: 14.13%;
  right: 17.16%;
  bottom: 83.68%;
  left: 70.2%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.ingegnere-meccanico-mba2,
.massimo-fabi {
  position: absolute;
  top: 16.56%;
  left: 71.62%;
  font-size: var(--font-size-xl);
  line-height: 22px;
  font-weight: 500;
  text-align: center;
}
.ingegnere-meccanico-mba2 {
  width: 19.75%;
  top: 17.4%;
  left: 66.64%;
  font-size: var(--font-size-sm);
  color: var(--light);
  display: none;
}
.group-icon10,
.group-icon8,
.group-icon9 {
  position: absolute;
  height: 0.98%;
  width: 5.36%;
  top: 42.81%;
  right: 20.68%;
  bottom: 56.21%;
  left: 73.95%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon10,
.group-icon9 {
  height: 0.9%;
  width: 4.93%;
  top: 42.85%;
  right: 47.4%;
  bottom: 56.25%;
  left: 47.67%;
}
.group-icon10 {
  height: 0.89%;
  width: 4.66%;
  top: 42.86%;
  right: 74.23%;
  left: 21.11%;
}
.final-child30 {
  position: absolute;
  top: 4146px;
  left: 735px;
  background-color: var(--ffffff);
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
  width: 540px;
  height: 952px;
}
.struttura-meccanizzata-in-poli-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 413px;
  height: 36px;
}
.pannelli-alta-efficienza-da-1k-group {
  position: absolute;
  top: 55px;
  left: 0;
  width: 266px;
  height: 13px;
}
.inverter-e-conne-ssione-aiiim-group {
  position: absolute;
  top: 87.8px;
  left: 0;
  width: 395px;
  height: 12.2px;
}
.app-di-controllo-e-gesti-one-group {
  position: absolute;
  top: 119px;
  left: 0;
  width: 243px;
  height: 12.35px;
}
.group-parent4,
.sire-full {
  position: absolute;
  top: 4541px;
  left: 761.66px;
  width: 413px;
  height: 131.35px;
  color: var(--light);
}
.sire-full {
  height: 0.24%;
  width: 8.26%;
  top: 57.36%;
  left: 52.89%;
  font-size: var(--font-size-5xl);
  line-height: 88.02%;
  font-weight: 600;
  color: var(--be3f);
  display: inline-block;
}
.pexels-burak-kebapci-45072-1-icon {
  position: absolute;
  top: 4146px;
  left: 735px;
  width: 541px;
  height: 336px;
  object-fit: cover;
}
.consigliato-per1 {
  position: absolute;
  height: 10.83%;
  width: 80.62%;
  top: 0;
  left: 0;
  line-height: 84.02%;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color);
  display: inline-block;
}
.devices-group,
.families-group {
  position: absolute;
  height: 71.67%;
  width: 36.2%;
  top: 28.33%;
  right: 0;
  bottom: 0;
  left: 63.8%;
}
.devices-group {
  width: 34.55%;
  right: 65.45%;
  left: 0;
}
.consigliato-per-parent {
  position: absolute;
  height: 1.53%;
  width: 12.66%;
  top: 60.31%;
  right: 34.44%;
  bottom: 38.17%;
  left: 52.89%;
  color: var(--light);
}
.siste-ma-2 {
  position: absolute;
  height: 100%;
  width: 93.65%;
  top: 0;
  left: 6.35%;
  line-height: 109.02%;
  display: inline-block;
}
.group-child47 {
  position: absolute;
  top: 6px;
  left: 0;
  border-radius: 50%;
  background-color: var(--be3f);
  width: 6px;
  height: 6px;
}
.siste-ma-2-kw-con-accumuio-parent {
  position: absolute;
  height: 0.18%;
  width: 17.5%;
  top: 62.52%;
  right: 29.61%;
  bottom: 37.3%;
  left: 52.89%;
  color: var(--light);
}
.tempo-di-ricarica {
  position: absolute;
  height: 100%;
  width: 96.39%;
  top: 0;
  left: 3.61%;
  line-height: 79.02%;
  display: inline-block;
}
.group-child48 {
  position: absolute;
  top: 3px;
  left: 0;
  border-radius: 50%;
  background-color: var(--be3f);
  width: 6px;
  height: 6px;
}
.tempo-di-ricarica-medio-in-est-parent {
  position: absolute;
  height: 0.15%;
  width: 30.76%;
  top: 62.93%;
  right: 16.34%;
  bottom: 36.92%;
  left: 52.89%;
  color: var(--light);
}
.te-mpo-di {
  position: absolute;
  height: 100%;
  width: 94.07%;
  top: 0;
  left: 5.93%;
  line-height: 77.02%;
  display: inline-block;
}
.te-mpo-di-scarica-a-16a-is-8-o-parent {
  position: absolute;
  height: 0.15%;
  width: 18.75%;
  top: 63.31%;
  right: 28.36%;
  bottom: 36.54%;
  left: 52.89%;
  color: var(--light);
}
.autonomia-dalla-rete {
  position: absolute;
  height: 100%;
  width: 94.72%;
  top: 0;
  left: 5.28%;
  line-height: 96.52%;
  display: inline-block;
}
.group-child50 {
  position: absolute;
  top: 3.5px;
  left: 0;
  border-radius: 50%;
  background-color: var(--be3f);
  width: 6px;
  height: 6px;
}
.autonomia-dalla-rete-eiettrica-parent {
  position: absolute;
  height: 0.17%;
  width: 21.04%;
  top: 63.69%;
  right: 26.07%;
  bottom: 36.14%;
  left: 52.89%;
  color: var(--light);
}
.title-here-if-they-have-otherv-parent {
  position: absolute;
  height: 0.36%;
  width: 34.07%;
  top: 62.06%;
  right: 13.03%;
  bottom: 37.58%;
  left: 52.89%;
}
.chi-siamo1,
.sire2 {
  display: inline-block;
  height: 15px;
}
.chi-siamo1 {
  position: absolute;
  top: 7534.74px;
  left: 545px;
  line-height: 95.46%;
  color: var(--ffffff);
  width: 92px;
  opacity: 0.8;
}
.sire2 {
  top: 7569.74px;
  width: 47px;
}
.home1,
.how-it-works1,
.sire-features1,
.sire-product1,
.sire2,
.why-sire1 {
  position: absolute;
  left: 545px;
  line-height: 95.46%;
  color: var(--ffffff);
  opacity: 0.8;
}
.sire-features1 {
  top: 7604.74px;
  display: inline-block;
  width: 124px;
  height: 15px;
}
.home1,
.how-it-works1,
.sire-product1,
.why-sire1 {
  top: 7639.74px;
}
.home1,
.how-it-works1,
.sire-product1 {
  top: 7674.74px;
}
.home1,
.how-it-works1 {
  top: 7705.99px;
  display: inline-block;
  width: 127px;
  height: 15px;
}
.home1 {
  top: 7499.74px;
  line-height: 81.02%;
  font-weight: 500;
  width: 55px;
}
.image-1-icon,
.image-2-icon,
.image-3-icon,
.image-4-icon,
.image-5-icon,
.image-6-icon {
  position: absolute;
  top: 7636.2px;
  left: 160px;
  width: 77.94px;
  height: 43.46px;
  object-fit: cover;
}
.image-2-icon,
.image-3-icon,
.image-4-icon,
.image-5-icon,
.image-6-icon {
  left: 250.53px;
}
.image-3-icon,
.image-4-icon,
.image-5-icon,
.image-6-icon {
  left: 341.05px;
}
.image-4-icon,
.image-5-icon,
.image-6-icon {
  top: 7686.57px;
  left: 160px;
}
.image-5-icon,
.image-6-icon {
  left: 250.53px;
}
.image-6-icon {
  left: 341.05px;
}
.gavioli-icon,
.massimo-fabi-direttore-commer,
.testoni-cristian-icon {
  position: absolute;
  top: 1110px;
  left: 250px;
  border-radius: var(--br-7xs);
  width: 183px;
  height: 174px;
  object-fit: cover;
}
.gavioli-icon,
.massimo-fabi-direttore-commer {
  top: 1109px;
  left: 1011px;
  width: 182px;
  height: 173px;
}
.gavioli-icon {
  top: 1110px;
  left: 631px;
  height: 171px;
}
.te-mpo-di1 {
  position: absolute;
  height: 100%;
  width: 94.58%;
  top: 0;
  left: 5.42%;
  line-height: 72.52%;
  display: inline-block;
}
.group-child51 {
  position: absolute;
  top: 3.97px;
  left: 0;
  border-radius: 50%;
  background-color: var(--be3f);
  width: 6px;
  height: 6px;
}
.te-mpo-di-ricarica-medio-in-es-parent {
  position: absolute;
  height: 0.15%;
  width: 20.49%;
  top: 62.52%;
  right: 66.32%;
  bottom: 37.33%;
  left: 13.19%;
  color: var(--light);
}
.tbd-tempo-di {
  position: absolute;
  height: 100%;
  width: 93.28%;
  top: 0;
  left: 6.72%;
  line-height: 65.52%;
  display: inline-block;
}
.group-child52 {
  position: absolute;
  top: 2.97px;
  left: 0;
  border-radius: 50%;
  background-color: var(--be3f);
  width: 6px;
  height: 6px;
}
.tbd-tempo-di-scarica-a-16a-parent {
  position: absolute;
  height: 0.14%;
  width: 16.53%;
  top: 62.9%;
  right: 70.28%;
  bottom: 36.96%;
  left: 13.19%;
  color: var(--light);
}
.tbd-autonomia-dalla {
  position: absolute;
  height: 100%;
  width: 94.58%;
  top: 0;
  left: 5.42%;
  line-height: 66.02%;
  display: inline-block;
}
.tbd-autonomia-dalla-rete-elett-parent {
  position: absolute;
  height: 0.15%;
  width: 20.49%;
  top: 63.27%;
  right: 66.32%;
  bottom: 36.58%;
  left: 13.19%;
  color: var(--light);
}
.tbd-autonomia-in {
  position: absolute;
  height: 100%;
  width: 94.72%;
  top: 0;
  left: 5.28%;
  line-height: 76.02%;
  display: inline-block;
}
.group-child54 {
  position: absolute;
  top: 3.47px;
  left: 0;
  border-radius: 50%;
  background-color: var(--be3f);
  width: 6px;
  height: 6px;
}
.tbd-autonomia-in-casa-di-black-parent {
  position: absolute;
  height: 0.15%;
  width: 21.04%;
  top: 63.65%;
  right: 65.76%;
  bottom: 36.19%;
  left: 13.19%;
  color: var(--light);
}
.gg-immissione-di {
  position: absolute;
  height: 100%;
  width: 96.18%;
  top: 0;
  left: 3.82%;
  line-height: 87.02%;
  display: inline-block;
}
.gg-immissione-di-co2-da-1022-parent {
  position: absolute;
  height: 0.18%;
  width: 29.1%;
  top: 64.04%;
  right: 57.71%;
  bottom: 35.79%;
  left: 13.19%;
  color: var(--light);
}
.te-mpo-di2 {
  position: absolute;
  height: 100%;
  width: 94.54%;
  top: 0;
  left: 5.46%;
  line-height: 82.02%;
  display: inline-block;
}
.te-mpo-di-ricarica-medio-in-es-group {
  position: absolute;
  height: 0.15%;
  width: 20.35%;
  top: 64.44%;
  right: 66.46%;
  bottom: 35.4%;
  left: 13.19%;
  color: var(--light);
}
.laurato-in-economia,
.nel-corso-degli {
  position: absolute;
  height: 1.62%;
  width: 22.71%;
  top: 16.96%;
  left: 38.61%;
  font-size: var(--font-size-sm);
  line-height: 22px;
  color: var(--light);
  text-align: center;
  display: inline-block;
}
.laurato-in-economia {
  height: 1.08%;
  width: 21.6%;
  top: 16.98%;
  left: 65.83%;
}
.final {
  position: relative;
  background-color: var(--ffffff);
  width: 100%;
  height: 7855px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color);
  font-family: var(--font-poppins);
}


.contact-us1 a:hover {
  color: rgb(255, 255, 255); 
}

@media (max-width: 768px) {
  .main {
    width: 100%;
    padding: 20px;
  }
  .main * {
    /* Example responsive styles */
    display:flex;
    justify-content:space-around;
    font-size: 16px;
    padding: 10px;
    /* Add more responsive styles as needed */
  }
}

/* spacific styling */
#Perchè {
  width: 100vw;
}

/**************
      INPUT
***************/
input[type="text"], textarea {
  border: 1px solid #cdcdcd !important;
  border-radius: 5px;
  padding-left: 20px !important;
}
textarea {
  padding-top: 20px !important;
}
textarea.final-inner4::-webkit-input-placeholder{
  position: absolute;
  top: 15px;
}
textarea.final-inner4::-moz-placeholder{
  position: absolute;
  top: 15px;
}
textarea.final-inner4:-ms-input-placeholder{
  position: absolute;
  top: 15px;
}

